doctype html
head
    title Sala #{roomname}

    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js")
    script(type="text/javascript").
        var socket = io.connect('http://localhost:3000');
        var roomData = {
            roomname: '#{roomname}',
            username: '#{username}'
        }
        socket.on('connect', function(){
            socket.emit('joinedRoom', roomData);
        })

    script(src="../../../js/client.js")
    link(href='../../../css/style.css', rel='stylesheet')


  body
      p#joined
      h1 Room's name: #{roomname}

      h2 Your nickname: #{username}

      h2 Players:

      div(class="player-row" id="username")

      h2#type-area
      input(type="text", placeholder="type here", id="type-listener")

      button(onclick="userReady()" id="start-button") Start

      p(id="time-remaining")
